<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Galaxy</li>
      <li>Twix</li>
      <li>Milky Way</li>
      <li>Mars Bars</li>
      <li>add more...</li>
    </ul>
  </body>
</html>