<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>Tea</li>
      <li>Coffee</li>
      <li>7-up</li>
      <li>milk</li>
      <li>add more...</li>
    </ul>
  </body>
</html>